/* ヘッダー */
header {
    background-color: #fff;
    width: 100%;

    background-image: url(../image/header-backgroundimage.jpg);
    background-size: cover;
    

/* ヘッダー固定 */
    position: sticky;
    top: 0;
    z-index: 999;
}
/* ヘッダーアイコン */
.ulca-base{
    max-width: 8%;
    margin: 10px;
}




/* 背景 */
body{
    background-image: url(../image/background-images-2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

/* タイトル */
.page-title{
    width: 100%;
    margin: 24px auto;
    /* padding: 20px; */
    border-width: 0px 0px 8px 16px;
    border-color: red;
}

h1{
    background-color: #fff;
    font-size: 32px;
    font-weight: 700;
    padding: 24px
}


.package {
    max-width: 100%;
    margin: 10px auto;

}

/* メイン */
main{
    background-color: blueviolet;
    background: rgba(0, 0, 0, 0.5);
    width: 65%;
    margin: 0 auto;
    padding: 24px;
}

/* 商品情報 */
table{
    background-color: #fff;
    margin: 24px auto;
    width: 100%;
}

/* カードリスト */
.grid{
    display: grid;
    gap: 2rem 1.5rem;
    grid-template-columns: repeat(5, 1fr)
}
.card{
    background-color: yellow;
    max-width: 100%;
    height: auto;
}
.card:hover{
    scale: 1.8;
    transition: .3s;
}

.scene {
    background-color: yellow;
    max-width: 100%;
    height: auto;
    margin-top: 50px;
}

.scene:hover {
    scale: 2.5;
    transition: .3s;
}




/* フッター */
footer{
    /* background-color: blue; */
    background-image: url(../image/header-backgroundimage.jpg);
    background-size: cover;
    height: 80px;
    margin-top: 10px;
}


@media (max-widht: 480px){
    
    main {
        max-width: 480px;
    }
}